.terms-overview-main {
  .details {
    p {
      font-weight: bolder;

      span {
        margin-right: 6px;
        font-weight: lighter;
      }
    }
  }

  .terms {
    .subtitle {
      margin-bottom: 30px;
    }
  }
}
